.header {
  display: flex;
  justify-content: space-between;
  height: 120px;
  flex-wrap: wrap;
  background-color: lightgray;

  .logo {
    width: 100px;
  }

  .mat-button {
    font-size: 18px;
    background-color: transparent;
  }

  .menu {
    display: flex;
    justify-content: flex-end;

    mat-icon {
      font-size: 30px;
    }
  }
}
