mat-toolbar {
  height: 150px;
  background-color: lightgray;
  display: flex;
  justify-content: center;

  img {
    width: 40px;
    padding: 10px;
  }

  .linked-in {
    width: 50px !important;
  }

  .medium {
    width: 60px !important;
  }
}
