.container {
  display: flex;
  flex-direction: column;

  mat-card {
    border-radius: 0;

    mat-card-title {
      font-size: 26px;
    }
  }

  mat-grid-list {
    display: flex;
    flex-direction: row;
  }

  .tile-card {
    max-width: 400px;
    min-width: 200px;
  }
}
