.container {
  display: flex;
  flex-direction: column;

  mat-card {
    border-radius: 0;

    mat-card-title {
      font-size: 22px;
    }
  }

  mat-grid-list {
    display: flex;

    mat-card {
      min-width: 200px;
      max-width: 500px;
      height: 700px;
      overflow: hidden;
      overflow-y: scroll;

      mat-list-item {
        font-size: 15px;
        height: 35px;
      }
    }
  }
}
