<div class="container">
  <mat-card>
    <mat-card-content>
      I realized the importance of having diversified interests in an attempt to accumulate lessons from different
      fields and by hearing others (podcasts) recommending the adoption of it. I value open-sourced information and
      how people share lessons they learned through podcasts, books, blogs, etc. To showcase appreciation for all the
      resources I have access to, I decided to compile a list of the things I use/d for my own learning so others can
      develop awareness of them the same way I did. The compiled lists are in no particular order, are not
      comprehensive, and I will update them occasionally as I complete readings, discover interesting podcasts or
      unsubscribe to some, continue listening to audio books.
    </mat-card-content>
  </mat-card>

  <mat-grid-list [cols]="cols" rowHeight="700" (window:resize)="onResize($event)">
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Books</mat-card-title>
        <mat-card-content>
          <mat-list *ngFor="let book of books">
            <mat-list-item role="listitem">
              <a href="{{book.url}}">
                <span *ngIf="book.title.length <= charactersLimit; else limited">{{book.title}}</span>
                <ng-template #limited>{{book.title.slice(0, charactersLimit)}}...</ng-template>
              </a>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="tile-card">
        <mat-card-title>Audio Books</mat-card-title>
        <mat-card-content>
          <mat-list *ngFor="let audioBook of audioBooks">
            <mat-list-item role="listitem">
              <a href="{{audioBook.url}}">
                <span *ngIf="audioBook.title.length <= charactersLimit; else limited">{{audioBook.title}}</span>
                <ng-template #limited>{{audioBook.title.slice(0, charactersLimit)}}...</ng-template>
              </a>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="tile-card">
        <mat-card-title>Podcasts</mat-card-title>
        <mat-card-content>
          <mat-list *ngFor="let podcast of podcasts">
            <mat-list-item role="listitem">
              <a href="{{podcast.url}}">
                <span *ngIf="podcast.title.length <= charactersLimit; else limited">{{podcast.title}}</span>
                <ng-template #limited>{{podcast.title.slice(0, charactersLimit)}}...</ng-template>
              </a>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
