.container {
  display: flex;
  flex-direction: column;

  mat-card {
    border-radius: 0;

    mat-card-title {
      font-size: 22px;
    }
  }

  mat-grid-list {
    display: flex;
    flex-direction: row;

    mat-card {
      max-width: 500px;
      min-width: 200px;

      mat-card-content {
        overflow: hidden;
        overflow-y: auto;
        max-height: 550px;
      }
    }
  }
}
