.common {
  mat-tree {
    border-radius: 0;
    margin: 1em;
    box-shadow:
      0 2px 1px -1px rgba(0, 0, 0, .2),
      0 1px 1px 0 rgba(0, 0, 0, .14),
      0 1px 3px 0 rgba(0, 0, 0, .12);
    min-width: 250px;
    height: 100%;
  }

  mat-card {
    border-radius: 0;
    margin: 1em;
  }
}

.desktop-content {
  @extend .common;

  display: flex;
  flex-direction: row;

  mat-card {
    width: 100%;
  }
}

.mobile-content {
  @extend .common;

  display: flex;
  flex-direction: column;
}
