@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  height: 100%;
  
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

mat-card {
  border-radius: 0;
  margin: 1em;
  box-shadow: 1px 1px 1px 1px darkgrey;
}

.mat-figure {
  display: inline !important;
}
