@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html, body {
  height: 100%;
  
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

mat-card {
  border-radius: 0;
  margin: 2em;
  box-shadow: 1px 1px 1px 1px darkgrey;
  max-width: 400px;
  min-width: 200px;
}

.mat-figure {
  display: inline !important;
}
