mat-card {
  max-width: 400px;
  min-width: 200px;
  border-radius: 0;

  mat-card-title {
    font-size: 26px;
  }

  mat-card-subtitle {
    font-size: 20px;
  }

  mat-card-content {
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
  }
}
