<mat-grid-list [cols]="cols" rowHeight="800" (window:resize)="onResize($event)">
  <mat-grid-tile>
    <mat-card class="mat-elevation-z4">
      <mat-card-title>Life</mat-card-title>
      <mat-card-subtitle>Some personal information</mat-card-subtitle>
      <img mat-card-image src="../../assets/images/life.jpg">
      <mat-card-content>
        I was born and raised in Romania and I moved to Saskatoon, SK, Canada, in 2013. I started attending the
        University
        of Saskatchewan in 2014, as I worked for one year after I moved to SK.
        <br><br>
        In my spare time, I enjoy developing software, reading, and triathon training. I have only discovered the fun
        and
        joy in developing software after I started university but my love of computers goes way back to the times I
        messed
        around with registries on Windows and disassembled and reassembled my home computer because I was interested in
        its
        hardware components. I have not been an avid reader for my whole life but I started picking up books more and
        more
        often starting with 2013 and reading is now an important part of my life. I have loved biking my whole life,
        discovered running is fun and thought "Might as well try swimming...". I was hooked ever since and have taken up
        triathlon as part of my life as well.
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

