mat-card {
  max-width: 500px;
  min-width: 200px;
  border-radius: 0;
  overflow: hidden;
  overflow-y: scroll;
  height: 800px;

  mat-card-title {
    font-size: 26px;
  }

  mat-card-subtitle {
    font-size: 20px;
  }

  mat-card-content {
    max-height: 50%;
    overflow: hidden;
    overflow-y: auto;
  }

  mat-card-footer {
    font-size: 14px;
    padding: 0 16px 0 0;
    color: darkgrey;

    div {
      display: flex;
      justify-content: space-between;
    }
  }
}
